<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <div class="container-fluid">
        <a class="navbar-brand p-2" href="#">A G</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse btn-right" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link hover-link smooth-scroll" href="#" >Home</a>
                <a class="nav-link hover-link js-scroll-trigger smooth-scroll" href="#about" >About</a>
                <a class="nav-link hover-link js-scroll-trigger smooth-scroll" href="#career">Career</a>
                <a class="nav-link hover-link js-scroll-trigger smooth-scroll" href="#edu">Education</a>
                <a class="nav-link hover-link js-scroll-trigger smooth-scroll" href="#projects">Projects</a>
                <a class="nav-link hover-link js-scroll-trigger smooth-scroll" href="#contact">Contact</a>
            </div>
        </div>
    </div>
</nav>
