<div class="main" id="projects">
    <div class="heading">
        <h3 class="p-2 text-border">Projects</h3>
    </div>
    <div class="sub-main">
          <div class="card">
            <img src="/assets/pictures/zipari.png" class="card-img-top img-size" alt="...">
            <div class="card-body">
              <h5 class="card-title">Zipari</h5>
              <p class="card-text">Zipari’s Provider Portal creates efficiencies for providers and payers, enabling your teams to effortlessly manage provider accounts and preferences from a single application.</p>
              <a href="https://zipari.com/provider-portal/" target="_blank" class="btn ">visit</a>
            </div>
          </div>
          <div class="card">
            <img src="/assets/pictures/korero.jpg" class="card-img-top img-size" alt="...">
            <div class="card-body">
              <h5 class="card-title">korero Platforms</h5>
              <p class="card-text"> Korero has helped us in planning our communication journeys to reach out to Rural India's Digital Entrepreneurs through SMS, voice message, mails, and whatsApp all in one platform.</p>
              <a href="https://www.koreroplatforms.com/"  target="_blank" class="btn ">visit</a>
            </div>
          </div>
          <div class="card">
            <img src="/assets/pictures/kmp.jpg" class="card-img-top img-size" alt="...">
            <div class="card-body">
              <h5 class="card-title">KMP</h5>
              <p class="card-text">DiGiSPICE's Social Collaboration and staff management Platform that lets you manage employees like attendance, leave application/approval & more!</p>
              <a href="https://kmp.digispice.com/"  target="_blank" class="btn ">visit</a>
            </div>
          </div>
          <div class="card">
            <img src="/assets/pictures/spice.jpg" class="card-img-top img-size" alt="...">
            <div class="card-body">
              <h5 class="card-title">Adhikari Web App</h5>
              <p class="card-text">Spice Money’s Adhikari Mobile App is a one-stop solution for all Banking and payment-related services that include Money Transfer, Cash withdrawal - Mini ATM (Aadhaar based), Cash withdrawal, Micro ATM (debit card), Cash Deposit, Bill payments, etc.</p>
              <a href="https://b2b.spicemoney.com/" target="_blank" class="btn ">visit</a>
            </div>
          </div>
          <div class="card">
            <img src="/assets/pictures/umang.png" class="card-img-top img-size" alt="...">
            <div class="card-body">
              <h5 class="card-title">UMANG</h5>
              <p class="card-text">Unified Mobile Application for New-age Governance, is a mobile app, a Digital India initiative of Ministry of Electronics and Information Technology, by the Government of India for access to central and state government services.</p>
              <a href="https://web.umang.gov.in/landing"  target="_blank" class="btn ">visit</a>
            </div>
          </div>
        </div>
</div>

