.main {
  display: flex;
  flex-direction: column;
}

.sub-main {
  //flex-basis: 70%;
  display: flex;
  flex-direction: column;
}

.heading {
  display: flex;
  margin-bottom: 4rem;
  //flex-basis: 30%;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  background: #f37037;
  //border-right: 5px solid #f37037;
}

.text-border {
  //border: 3px solid #aaa;
  color: #fff;
}

.career-highlight {
  display: flex;
  padding: 0rem 4rem 4rem 4rem;
}

.text {
  margin-left: 3rem;
}

.font-weight {
  font-weight: 600;
}

.career-highlight img {
  height: 4rem;
  width: 4rem;
}

.stepper {
  .line {
    width: 2px;
    background-color: lightgrey !important;
  }
  .lead {
    font-size: 1.1rem;
  }
}

.color-or {
  background-color: #aaa;
}

.margin-left {
  margin-left: 2rem;
}

.cursor-pointer {
  cursor : pointer;
}

.padding {
 margin-bottom: 3rem;
}

.bg-color {
  // color: #fff;
}

ul {
  list-style: none;
  padding: 0;
}
li {
  padding-left: 1.3em;
}
li:before {
  content: "\f00c"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

.header {
  padding-top: 15px !important;
  padding: 7px;
  background: #f37037;
  color: #fff;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-bottom: 1rem;
  border-radius: 3px;
}

.offcanvas-header {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@media screen and (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  .career-highlight {
    padding: 2rem;
  }

  .text {
    margin-left: 0rem;
  }

  .margin-left {
    margin-left: 1rem;
  }

  .sub-main {
  flex-direction: column;
  }
}
